# Analyse des dataset de la CALL

Communauté d'Aglomeration Lens Lievin<br>

Les fichiers proviennent du site : https://opendata.agglo-lenslievin.fr/ <br>
Le but de ce notebook est d'analyser et de préparer les fichier de la CALL.<br>

J'ai plusieurs fichiers :<br>
_Données essentielle de la [commande publique](#cmd_pub)<br>
_donnée INSEE sur la [population](#population)<br>
_liste des benne de [verre](#verre)<br>
_liste des établissement [scolaire](#ecole)<br>
_liste des établissement [numérique](#numerique)<br>

In [1]:
import pandas as pd
import geopandas as gpd

import fonctions.perso_pandas as perso_pd

<a id=cmd_pub></a>

## Fichier commande publique

In [2]:
data_commande_publique = pd.read_csv("CALL-data/Données_essentielles_de_la_commande_publique.csv")

In [3]:
perso_pd.analyseDataFrame(data_commande_publique)

################################# INFO  #################################
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 78 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   X           393 non-null    float64
 1   Y           393 non-null    float64
 2   FID         397 non-null    int64
 3   id          397 non-null    object
 4   idmarche    397 non-null    int64
 5   source      397 non-null    object
 6   type        397 non-null    object
 7   natureobje  397 non-null    object
 8   objetmarch  397 non-null    object
 9   codecpv_or  397 non-null    int64
 10  codecpv     397 non-null    object
 11  codecpv_di  397 non-null    int64
 12  referencec  397 non-null    object
 13  datenotifi  397 non-null    object
 14  anneenotif  355 non-null    float64
 15  moisnotifi  397 non-null    object
 16  datepublic  397 non-null    object
 17  dureemois   397 non-null    int64
 18  dureemoise  397 non-null    bool
 19  dureemoisc  397 non-null    int64
 20  montant     397 non-null    float64
 21  nombretitu  397 non-null    int64
 22  montantcal  397 non-null    int64
 23  formeprix   397 non-null    object
 24  lieuexecut  397 non-null    object
 25  lieuexec_1  397 non-null    object
 26  lieuexec_2  397 non-null    object
 27  codedepart  397 non-null    int64
 28  coderegion  0 non-null      float64
 29  libellereg  397 non-null    object
 30  nature      397 non-null    object
 31  accord_cad  397 non-null    object
 32  procedure_  397 non-null    object
 33  idacheteur  397 non-null    int64
 34  sirenachet  397 non-null    bool
 35  nomacheteu  397 non-null    object
 36  coderegi_1  397 non-null    object
 37  libeller_1  397 non-null    object
 38  departemen  397 non-null    object
 39  libelledep  397 non-null    object
 40  codepostal  397 non-null    object
 41  libellearr  397 non-null    object
 42  codearrond  397 non-null    object
 43  libellecom  397 non-null    object
 44  codecommun  393 non-null    float64
 45  superficie  397 non-null    int64
 46  population  397 non-null    int64
 47  typeidenti  397 non-null    object
 48  siretetabl  397 non-null    int64
 49  sireteta_1  397 non-null    object
 50  sirenetabl  397 non-null    object
 51  nicetablis  397 non-null    int64
 52  sireneta_1  397 non-null    bool
 53  categoriee  397 non-null    object
 54  denominati  397 non-null    object
 55  coderegi_2  397 non-null    object
 56  libeller_2  397 non-null    object
 57  libelled_1  397 non-null    object
 58  departem_1  397 non-null    object
 59  libellea_1  397 non-null    object
 60  codearro_1  397 non-null    object
 61  codepost_1  393 non-null    object
 62  adresseeta  377 non-null    object
 63  communeeta  396 non-null    object
 64  codecomm_1  392 non-null    float64
 65  codetypeet  397 non-null    object
 66  superfic_1  397 non-null    int64
 67  populati_1  397 non-null    int64
 68  distanceac  397 non-null    float64
 69  typeiden_1  397 non-null    object
 70  id_cotitul  397 non-null    object
 71  denomina_1  397 non-null    object
 72  typeiden_2  397 non-null    object
 73  id_cotit_1  397 non-null    object
 74  denomina_2  397 non-null    object
 75  typeiden_3  397 non-null    object
 76  id_cotit_2  397 non-null    object
 77  denomina_3  397 non-null    object
dtypes: bool(3), float64(8), int64(16), object(51)
memory usage: 233.9+ KB
################################# DESCRIBE  #################################

,X,Y,FID,id,idmarche,source,type,natureobje,objetmarch,codecpv_or,...,distanceac,typeiden_1,id_cotitul,denomina_1,typeiden_2,id_cotit_1,denomina_2,typeiden_3,id_cotit_2,denomina_3
count,3.930000e+02,3.930000e+02,397.000000,397,397.000000,397,397,397,397,3.970000e+02,...,397.000000,397,397,397,397,397,397,397,397,397
unique,NaN,NaN,NaN,397,NaN,1,2,3,385,NaN,...,NaN,2,52,51,2,38,38,2,8,8
top,NaN,NaN,NaN,2018ScG_m3Xgl300,NaN,API AIFE,Marché,Services,MarchXXXXX d'opXXXXXrateurs de tXXXXXlXXXXXcom...,NaN,...,NaN,,,,,,,,,
freq,NaN,NaN,NaN,1,NaN,397,396,212,5,NaN,...,NaN,337,337,337,357,357,357,390,390,390
mean,2.821299e+00,5.043726e+01,199.000000,NaN,367560.725441,NaN,NaN,NaN,NaN,5.711059e+07,...,119.992872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,7.559140e-15,4.980139e-14,114.748275,NaN,115.094044,NaN,NaN,NaN,NaN,2.089442e+07,...,181.605483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2.821299e+00,5.043726e+01,1.000000,NaN,367362.000000,NaN,NaN,NaN,NaN,0.000000e+00,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2.821299e+00,5.043726e+01,100.000000,NaN,367461.000000,NaN,NaN,NaN,NaN,4.511271e+07,...,15.951517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2.821299e+00,5.043726e+01,199.000000,NaN,367561.000000,NaN,NaN,NaN,NaN,5.053000e+07,...,37.203376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2.821299e+00,5.043726e+01,298.000000,NaN,367660.000000,NaN,NaN,NaN,NaN,7.163130e+07,...,182.150634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2.821299e+00,5.043726e+01,397.000000,NaN,367759.000000,NaN,NaN,NaN,NaN,9.262000e+07,...,907.741660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

################################# HEAD  #################################

,X,Y,FID,id,idmarche,source,type,natureobje,objetmarch,codecpv_or,...,distanceac,typeiden_1,id_cotitul,denomina_1,typeiden_2,id_cotit_1,denomina_2,typeiden_3,id_cotit_2,denomina_3
0,2.821299,50.437255,1,2018ScG_m3Xgl300,367390,API AIFE,Marché,Fournitures,Fourniture de boissons pour les services de la...,15900000,...,59.131984,,,,,,,,,
1,2.821299,50.437255,2,2019lf5cgGvoNn00,367492,API AIFE,Marché,Services,19S143-Edition de brochures pour le Pays d'Art...,79822500,...,5.540897,,,,,,,,,
2,2.821299,50.437255,3,20182M_y8DjwM200,367367,API AIFE,Marché,Fournitures,Travaux d'eau potable rue de Gouy XXXXX SERVINS,44162500,...,48.644099,,,,,,,,,
3,2.821299,50.437255,4,2019_ejVJOvVCj00,367476,API AIFE,Marché,Travaux,19S158-Electricité courants forts et courants ...,45311200,...,24.606583,,,,,,,,,
4,2.821299,50.437255,5,2018nRq9mPFTtj00,367418,API AIFE,Marché,Services,Assistance XXXXX maXXXXXtrise d'ouvrage relati...,71330000,...,185.986283,,,,,,,,,

################################# DOUBLONS  #################################

Empty DataFrame
Columns: [X, Y, FID, id, idmarche, source, type, natureobje, objetmarch, codecpv_or, codecpv, codecpv_di, referencec, datenotifi, anneenotif, moisnotifi, datepublic, dureemois, dureemoise, dureemoisc, montant, nombretitu, montantcal, formeprix, lieuexecut, lieuexec_1, lieuexec_2, codedepart, coderegion, libellereg, nature, accord_cad, procedure_, idacheteur, sirenachet, nomacheteu, coderegi_1, libeller_1, departemen, libelledep, codepostal, libellearr, codearrond, libellecom, codecommun, superficie, population, typeidenti, siretetabl, sireteta_1, sirenetabl, nicetablis, sireneta_1, categoriee, denominati, coderegi_2, libeller_2, libelled_1, departem_1, libellea_1, codearro_1, codepost_1, adresseeta, communeeta, codecomm_1, codetypeet, superfic_1, populati_1, distanceac, typeiden_1, id_cotitul, denomina_1, typeiden_2, id_cotit_1, denomina_2, typeiden_3, id_cotit_2, denomina_3]
Index: []

[0 rows x 78 columns]

################################## recherche de clé pour merge ###################
la colonne FID est une clé
la colonne id est une clé
la colonne idmarche est une clé

Les 3 identifiants sont des clés (Normal) <br>
Il n y a pas de doublons.<br>
397 lignes et 78 colonnes.<br>
Colonne à enlevé :<br>
X,Y, 
id , idmarché, 
codecpv_or, codecpv, 
datenotifi, anneenotif,moisnotifi,dureemoise,dureemoisc,montant,nombretitu,
lieuexec_1,lieuexec_2,coderegion,libellereg,accord_cad,
idacheteur,sirenachet,nomacheteu,coderegi_1,libeller_1,departemen,libelledep,codepostal,libellearr,
codearrond,libellecom,codecommun,superficie,population,typeidenti,sirettabl,sireteat_1,
sirenetabl,nicetablis,sereneta_1,coderegi_2,libeller_2,departem_1,libellea_1,codearro_1,codepost_1,
adresseta,communeeta,codecomm_1,codetypet,superfic_1,populati_1,distanceac,typeeiden_1,id_cotitul,
denomina_1,typeiden_2,id_cotit_1,denomina_2,typeiden_3,id_cotit_2,denomina_3
<br><br>
Changer le nom de colonnes pour être plus intuitif<br>

In [4]:
#enlever les colonnes inutiles
cmd_pub =data_commande_publique.drop(['id','idmarche','codecpv_or','codecpv','datenotifi',
                             'anneenotif','moisnotifi','dureemoise','dureemoisc','montant',
                             'nombretitu','lieuexec_1','lieuexec_2','coderegion','libellereg',
                             'accord_cad','idacheteur','sirenachet','nomacheteu','coderegi_1','libeller_1',
                             'departemen','libelledep','codepostal','libellearr','codearrond',
                             'libellecom','codecommun','superficie','population','typeidenti','siretetabl',
                             'sireteta_1','sirenetabl','nicetablis','sireneta_1','coderegi_2',
                             'libeller_2','departem_1','libellea_1','codearro_1','codepost_1',
                             'adresseeta','communeeta','codecomm_1','codetypeet','superfic_1',
                             'populati_1','distanceac','typeiden_1','id_cotitul','denomina_1','lieuexecut',
                             'typeiden_2','id_cotit_1','denomina_2','typeiden_3','id_cotit_2','denomina_3'
                                      #,'FID'
                            ], axis=1)

#changer le nom de certaine colonnes
cmd_pub.rename(columns = {'objetmarch':'description','montantcal':'montant',
                         'libelled_1':'departement entreprise',
                         'codedepart':'departement executant'}, inplace = True)

commande publique final :

In [5]:
perso_pd.analyseDataFrame(cmd_pub)

################################# INFO  #################################
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   X                       393 non-null    float64
 1   Y                       393 non-null    float64
 2   FID                     397 non-null    int64
 3   source                  397 non-null    object
 4   type                    397 non-null    object
 5   natureobje              397 non-null    object
 6   description             397 non-null    object
 7   codecpv_di              397 non-null    int64
 8   referencec              397 non-null    object
 9   datepublic              397 non-null    object
 10  dureemois               397 non-null    int64
 11  montant                 397 non-null    int64
 12  formeprix               397 non-null    object
 13  departement executant   397 non-null    int64
 14  nature                  397 non-null    object
 15  procedure_              397 non-null    object
 16  categoriee              397 non-null    object
 17  denominati              397 non-null    object
 18  departement entreprise  397 non-null    object
dtypes: float64(2), int64(5), object(12)
memory usage: 59.1+ KB
################################# DESCRIBE  #################################

,X,Y,FID,source,type,natureobje,description,codecpv_di,referencec,datepublic,dureemois,montant,formeprix,departement executant,nature,procedure_,categoriee,denominati,departement entreprise
count,3.930000e+02,3.930000e+02,397.000000,397,397,397,397,397.000000,397,397,397.000000,3.970000e+02,397,397.000000,397,397,397,397,397
unique,NaN,NaN,NaN,1,2,3,385,NaN,126,148,NaN,NaN,4,NaN,4,5,4,258,33
top,NaN,NaN,NaN,API AIFE,Marché,Services,MarchXXXXX d'opXXXXXrateurs de tXXXXXlXXXXXcom...,NaN,Services d'études,2021/08/24,NaN,NaN,Révisable,NaN,MARCHE,Procédure adaptée,PME,SADE CGTH,Pas-de-Calais
freq,NaN,NaN,NaN,397,396,212,5,NaN,34,20,NaN,NaN,280,NaN,227,196,183,11,165
mean,2.821299e+00,5.043726e+01,199.000000,NaN,NaN,NaN,NaN,57.697733,NaN,NaN,26.060453,5.881230e+05,NaN,61.833753,NaN,NaN,NaN,NaN,NaN
std,7.559140e-15,4.980139e-14,114.748275,NaN,NaN,NaN,NaN,20.026102,NaN,NaN,21.811900,4.812090e+06,NaN,4.946948,NaN,NaN,NaN,NaN,NaN
min,2.821299e+00,5.043726e+01,1.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,0.000000e+00,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
25%,2.821299e+00,5.043726e+01,100.000000,NaN,NaN,NaN,NaN,45.000000,NaN,NaN,12.000000,2.677500e+04,NaN,62.000000,NaN,NaN,NaN,NaN,NaN
50%,2.821299e+00,5.043726e+01,199.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN,18.000000,8.000000e+04,NaN,62.000000,NaN,NaN,NaN,NaN,NaN
75%,2.821299e+00,5.043726e+01,298.000000,NaN,NaN,NaN,NaN,72.000000,NaN,NaN,36.000000,2.839000e+05,NaN,62.000000,NaN,NaN,NaN,NaN,NaN
max,2.821299e+00,5.043726e+01,397.000000,NaN,NaN,NaN,NaN,92.000000,NaN,NaN,180.000000,9.050000e+07,NaN,92.000000,NaN,NaN,NaN,NaN,NaN

################################# HEAD  #################################

,X,Y,FID,source,type,natureobje,description,codecpv_di,referencec,datepublic,dureemois,montant,formeprix,departement executant,nature,procedure_,categoriee,denominati,departement entreprise
0,2.821299,50.437255,1,API AIFE,Marché,Fournitures,Fourniture de boissons pour les services de la...,15,"Boissons, tabac et produits connexes",2020/03/27,12,5319,Révisable,62,ACCORD-CADRE,Procédure adaptée,NC,Bedague,Pas-de-Calais
1,2.821299,50.437255,2,API AIFE,Marché,Services,19S143-Edition de brochures pour le Pays d'Art...,79,Services de conception graphique,2022/12/20,3,5711,Ferme,62,MARCHE,Procédure adaptée,PME,L'ARTESIENNE,Pas-de-Calais
2,2.821299,50.437255,3,API AIFE,Marché,Fournitures,Travaux d'eau potable rue de Gouy XXXXX SERVINS,44,Conduites d'eau potable,2020/04/06,2,127990,Ferme,62,MARCHE,Procédure adaptée,GE,SOGEA NORD HYDRAULIQUE,Nord
3,2.821299,50.437255,4,API AIFE,Marché,Travaux,19S158-Electricité courants forts et courants ...,45,Travaux d'installations électriques,2020/08/11,16,49861,Ferme et actualisable,62,MARCHE,Procédure adaptée,NC,SATELEC,Nord
4,2.821299,50.437255,5,API AIFE,Marché,Services,Assistance XXXXX maXXXXXtrise d'ouvrage relati...,71,Services divers d'ingénierie,2020/04/05,48,56945,Révisable,62,MARCHE,Appel d'offres ouvert,GE,PARVIS,Paris

################################# DOUBLONS  #################################

Empty DataFrame
Columns: [X, Y, FID, source, type, natureobje, description, codecpv_di, referencec, datepublic, dureemois, montant, formeprix, departement executant, nature, procedure_, categoriee, denominati, departement entreprise]
Index: []

################################## recherche de clé pour merge ###################
la colonne FID est une clé

In [6]:
# création du fichier commande publique final
cmd_pub.to_csv('donnee/cmd_pub.csv')

## Fichiers cartes

In [7]:
#imports des cartes de la CALL (ville)
carte_CALL =  gpd.read_file('CALL-data/Populations_municipales_CALL_2020.shp')
carte_CALL.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    36 non-null     int64
 1   Code_Insee  36 non-null     object
 2   Libelle     36 non-null     object
 3   Population  36 non-null     int64
 4   Evol_annue  36 non-null     float64
 5   Densite_po  36 non-null     float64
 6   Populati_1  36 non-null     int64
 7   Shape__Are  36 non-null     float64
 8   Shape__Len  36 non-null     float64
 9   geometry    36 non-null     geometry
dtypes: float64(4), geometry(1), int64(3), object(2)
memory usage: 2.9+ KB

In [8]:
carte_CALL.drop(['OBJECTID','Code_Insee','Population','Evol_annue','Densite_po','Populati_1'],axis=1,inplace=True)
carte_CALL.to_file('donnee/font_carte.gdp')

In [9]:
#import carte des bennes
carte_verre = gpd.read_file('CALL-data/D%C3%A9chets.shp')

In [10]:
carte_verre.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 38 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   objectid    500 non-null    int64
 1   commune     500 non-null    object
 2   flux        500 non-null    object
 3   nom         117 non-null    object
 4   adresse     500 non-null    object
 5   aériennes   500 non-null    object
 6   identifian  0 non-null      object
 7   volume_bor  381 non-null    float64
 8   marque      498 non-null    object
 9   modèle      496 non-null    object
 10  couleur     499 non-null    object
 11  pédale      500 non-null    object
 12  trappe_gro  500 non-null    object
 13  cliiink     458 non-null    object
 14  etat_borne  126 non-null    object
 15  surface___  0 non-null      object
 16  date_de_mi  130 non-null    object
 17  appartienn  500 non-null    object
 18  convention  0 non-null      object
 19  date_fin_c  0 non-null      object
 20  informatio  1 non-null      object
 21  nombre_de_  127 non-null    object
 22  nombre_d_1  127 non-null    object
 23  relevé_gp   498 non-null    object
 24  lat         498 non-null    object
 25  lat2        498 non-null    object
 26  relevé__1   498 non-null    object
 27  lon         498 non-null    object
 28  lon2        498 non-null    object
 29  dimensions  0 non-null      object
 30  consignes_  272 non-null    object
 31  lat3        498 non-null    float64
 32  lon3        498 non-null    float64
 33  created_us  500 non-null    object
 34  created_da  500 non-null    object
 35  last_edite  500 non-null    object
 36  last_edi_1  500 non-null    object
 37  geometry    498 non-null    geometry
dtypes: float64(3), geometry(1), int64(1), object(33)
memory usage: 148.6+ KB

In [11]:
#je ne garde que la commune et les coordonnées
carte_verre = carte_verre[['commune','geometry']]

In [12]:
carte_verre.to_file('donnee/carteverre.gpd')

<a id=population></a>
## Fichier population

In [13]:
population = pd.read_csv('CALL-data/Populations_municipales_CALL_2020.csv')

In [14]:
perso_pd.analyseDataFrame(population)

################################# INFO  #################################
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   OBJECTID                         36 non-null     int64
 1   Code_Insee                       36 non-null     int64
 2   Libelle                          36 non-null     object
 3   Population_municipale_2020       36 non-null     int64
 4   Evol_annuelle_moy_population_20  36 non-null     float64
 5   Densite_population_2019_histori  36 non-null     float64
 6   Population_municipale_2019_hist  36 non-null     int64
 7   Shape__Area                      36 non-null     float64
 8   Shape__Length                    36 non-null     float64
dtypes: float64(4), int64(4), object(1)
memory usage: 2.7+ KB
################################# DESCRIBE  #################################

,OBJECTID,Code_Insee,Libelle,Population_municipale_2020,Evol_annuelle_moy_population_20,Densite_population_2019_histori,Population_municipale_2019_hist,Shape__Area,Shape__Length
count,36.000000,36.000000,36,36.000000,36.000000,36.000000,36.000000,3.600000e+01,36.000000
unique,NaN,NaN,36,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Ablain-Saint-Nazaire,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
mean,18.500000,62431.722222,NaN,6728.833333,0.152778,1073.194444,6701.888889,6.662342e+06,13950.687652
std,10.535654,283.530357,NaN,7225.996827,0.748135,835.899147,7125.903667,3.481763e+06,4069.467891
min,1.000000,62001.000000,NaN,350.000000,-1.000000,84.000000,347.000000,1.166704e+06,5549.983908
25%,9.750000,62182.000000,NaN,2289.750000,-0.400000,367.150000,2288.750000,3.806048e+06,10510.096444
50%,18.500000,62438.500000,NaN,4627.000000,-0.050000,891.250000,4537.500000,5.833812e+06,14023.570172
75%,27.250000,62637.500000,NaN,8243.500000,0.600000,1555.375000,8252.500000,1.004338e+07,17865.466128
max,36.000000,62895.000000,NaN,32458.000000,2.200000,3017.300000,31461.000000,1.302329e+07,20686.853192

################################# HEAD  #################################

,OBJECTID,Code_Insee,Libelle,Population_municipale_2020,Evol_annuelle_moy_population_20,Densite_population_2019_histori,Population_municipale_2019_hist,Shape__Area,Shape__Length
0,1,62001,Ablain-Saint-Nazaire,1929,1.4,190.6,1877,9.957907e+06,17778.342599
1,2,62003,Acheville,599,-1.0,198.7,604,3.073788e+06,9485.464858
2,3,62019,Aix-Noulette,3917,-0.1,375.8,3923,1.044563e+07,20320.061142
3,4,62032,Angres,4777,2.2,974.7,4698,4.835830e+06,14054.685325
4,5,62033,Annay,4477,1.1,1010.9,4377,4.328373e+06,10695.642876

################################# DOUBLONS  #################################

Empty DataFrame
Columns: [OBJECTID, Code_Insee, Libelle, Population_municipale_2020, Evol_annuelle_moy_population_20, Densite_population_2019_histori, Population_municipale_2019_hist, Shape__Area, Shape__Length]
Index: []

################################## recherche de clé pour merge ###################
la colonne OBJECTID est une clé
la colonne Code_Insee est une clé
la colonne Libelle est une clé
la colonne Densite_population_2019_histori est une clé
la colonne Population_municipale_2019_hist est une clé
la colonne Shape__Area est une clé
la colonne Shape__Length est une clé

pas de doublons, le fichier est propre. J'enleve que les colonnes Code_Insee et Evol_annuelle_moy_population_20<br>
Je crée aussi un fichier cate pour l'affichage des cartes.<br>

In [15]:
population = population.drop(['Code_Insee','Evol_annuelle_moy_population_20'
                              ,'Shape__Area','Shape__Length'
                              ,'OBJECTID','Densite_population_2019_histori'
                              ,'Population_municipale_2019_hist'
                            ], axis=1)
#remplacement nom des villes car pas les meme avec le fichier des bennes
population.replace({'Annay' : 'Annay-sous-Lens'
                   ,'Éleu-dit-Leauwette' : 'Eleu-dit-Leauwette'
                   ,'Estevelles' :'Estévelles'}
                   ,inplace=True)

In [16]:
population.head(50)

                 Libelle  Population_municipale_2020
0   Ablain-Saint-Nazaire                        1929
1              Acheville                         599
2           Aix-Noulette                        3917
3                 Angres                        4777
4        Annay-sous-Lens                        4477
5                  Avion                       17676
6           Bénifontaine                         350
7         Billy-Montigny                        8185
8     Bouvigny-Boyeffles                        2376
9        Bully-les-Mines                       12080
10               Carency                         796
11    Eleu-dit-Leauwette                        2844
12            Estévelles                        2031
13   Fouquières-lès-Lens                        6333
14   Givenchy-en-Gohelle                        2003
15          Gouy-Servins                         350
16                Grenay                        6748
17                Harnes                       12277
18               Hulluch                        3380
19                  Lens                       32458
20                Liévin                       30102
21      Loison-sous-Lens                        5308
22       Loos-en-Gohelle                        6904
23            Mazingarbe                        8029
24             Méricourt                       11374
25              Meurchin                        3728
26    Noyelles-sous-Lens                        6590
27         Pont-à-Vendin                        3116
28      Sains-en-Gohelle                        6035
29           Sallaumines                        9575
30               Servins                        1133
31               Souchez                        2643
32       Vendin-le-Vieil                        8419
33       Villers-au-Bois                         614
34                  Vimy                        4332
35               Wingles                        8750

<a id=verre></a>

## Fichier déchets

In [17]:
benne_verre = pd.read_csv('CALL-data/Déchets.csv')

In [18]:
perso_pd.analyseDataFrame(benne_verre)

################################# INFO  #################################
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 39 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   X                                498 non-null    float64
 1   Y                                498 non-null    float64
 2   objectid                         500 non-null    int64
 3   commune                          500 non-null    object
 4   flux                             500 non-null    object
 5   nom                              117 non-null    object
 6   adresse                          500 non-null    object
 7   aériennes__ba___enterrées__be__  500 non-null    object
 8   identifiant                      0 non-null      float64
 9   volume_borne__m3_                381 non-null    float64
 10  marque                           498 non-null    object
 11  modèle                           496 non-null    object
 12  couleur                          499 non-null    object
 13  pédale                           500 non-null    object
 14  trappe_gros_producteurs          500 non-null    object
 15  cliiink                          458 non-null    object
 16  etat_borne                       126 non-null    object
 17  surface___terre__ciment__herbe_  0 non-null      float64
 18  date_de_mise_en_service          130 non-null    object
 19  appartiennent_à                  500 non-null    object
 20  convention                       0 non-null      float64
 21  date_fin_convention              0 non-null      float64
 22  informations                     1 non-null      object
 23  nombre_de_logements_collectifs   127 non-null    float64
 24  nombre_de_logements_individuels  127 non-null    float64
 25  relevé_gps_code_1                498 non-null    float64
 26  lat                              498 non-null    object
 27  lat2                             498 non-null    object
 28  relevé_gps_code_2                498 non-null    float64
 29  lon                              498 non-null    object
 30  lon2                             498 non-null    object
 31  dimensions_des_plaques_de_consi  0 non-null      float64
 32  consignes_de_tri_à_jour          272 non-null    object
 33  lat3                             498 non-null    float64
 34  lon3                             498 non-null    float64
 35  created_user                     500 non-null    object
 36  created_date                     500 non-null    object
 37  last_edited_user                 500 non-null    object
 38  last_edited_date                 500 non-null    object
dtypes: float64(14), int64(1), object(24)
memory usage: 152.5+ KB
################################# DESCRIBE  #################################

,X,Y,objectid,commune,flux,nom,adresse,aériennes__ba___enterrées__be__,identifiant,volume_borne__m3_,...,lon,lon2,dimensions_des_plaques_de_consi,consignes_de_tri_à_jour,lat3,lon3,created_user,created_date,last_edited_user,last_edited_date
count,498.000000,498.000000,500.000000,500,500,117,500,500,0.0,381.000000,...,498,498,0.0,272,498.000000,498.000000,500,500,500,500
unique,NaN,NaN,NaN,37,1,80,484,3,NaN,NaN,...,486,486,NaN,3,NaN,NaN,1,1,1,1
top,NaN,NaN,NaN,Lens,Verre,Résidence Sellier - Cité du 4,Intersection rues Louis Montcalm et Jules Guesde,BA,NaN,NaN,...,"2,756227","2,756227",NaN,Non,NaN,NaN,AdminAgso,2022/01/31 08:36:17.351+00,AdminAgso,2022/01/31 08:36:17.351+00
freq,NaN,NaN,NaN,113,500,5,2,373,NaN,NaN,...,2,2,NaN,136,NaN,NaN,500,500,500,500
mean,2.813075,50.433711,250.500000,NaN,NaN,NaN,NaN,NaN,NaN,3.992126,...,NaN,NaN,NaN,NaN,50.433711,2.813075,NaN,NaN,NaN,NaN
std,0.058954,0.023062,144.481833,NaN,NaN,NaN,NaN,NaN,NaN,0.088502,...,NaN,NaN,NaN,NaN,0.023062,0.058954,NaN,NaN,NaN,NaN
min,2.633134,50.367027,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,...,NaN,NaN,NaN,NaN,50.367027,2.633134,NaN,NaN,NaN,NaN
25%,2.769478,50.418942,125.750000,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,...,NaN,NaN,NaN,NaN,50.418942,2.769478,NaN,NaN,NaN,NaN
50%,2.817495,50.433411,250.500000,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,...,NaN,NaN,NaN,NaN,50.433411,2.817495,NaN,NaN,NaN,NaN
75%,2.848384,50.445672,375.250000,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,...,NaN,NaN,NaN,NaN,50.445672,2.848384,NaN,NaN,NaN,NaN
max,2.925140,50.500057,500.000000,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,...,NaN,NaN,NaN,NaN,50.500057,2.925140,NaN,NaN,NaN,NaN

################################# HEAD  #################################

,X,Y,objectid,commune,flux,nom,adresse,aériennes__ba___enterrées__be__,identifiant,volume_borne__m3_,...,lon,lon2,dimensions_des_plaques_de_consi,consignes_de_tri_à_jour,lat3,lon3,created_user,created_date,last_edited_user,last_edited_date
0,2.712467,50.393250,1,Ablain-Saint-Nazaire,Verre,NaN,Allée Jules Ferry,BA,NaN,4.0,...,"2,712467","2,712467",NaN,NaN,50.393250,2.712467,AdminAgso,2022/01/31 08:36:17.351+00,AdminAgso,2022/01/31 08:36:17.351+00
1,2.712402,50.390385,2,Ablain-Saint-Nazaire,Verre,NaN,Intersection rue Gares et résidence des Sœurs ...,BA,NaN,4.0,...,"2,712402","2,712402",NaN,NaN,50.390385,2.712402,AdminAgso,2022/01/31 08:36:17.351+00,AdminAgso,2022/01/31 08:36:17.351+00
2,2.709638,50.392372,3,Ablain-Saint-Nazaire,Verre,NaN,Rue Marcel Lancino - Proche de l'intersection ...,BA,NaN,4.0,...,"2,709638","2,709638",NaN,Oui,50.392372,2.709638,AdminAgso,2022/01/31 08:36:17.351+00,AdminAgso,2022/01/31 08:36:17.351+00
3,2.888295,50.385292,4,Acheville,Verre,NaN,Rue du Maréchal Leclerc - A la sortie de la vi...,BA,NaN,4.0,...,"2,888295","2,888295",NaN,Non,50.385292,2.888295,AdminAgso,2022/01/31 08:36:17.351+00,AdminAgso,2022/01/31 08:36:17.351+00
4,2.712122,50.421780,5,Aix-Noulette,Verre,NaN,Allée des Bleuets - Sur le parking du stade Ga...,BA,NaN,4.0,...,"2,712122","2,712122",NaN,NaN,50.421780,2.712122,AdminAgso,2022/01/31 08:36:17.351+00,AdminAgso,2022/01/31 08:36:17.351+00

################################# DOUBLONS  #################################

Empty DataFrame
Columns: [X, Y, objectid, commune, flux, nom, adresse, aériennes__ba___enterrées__be__, identifiant, volume_borne__m3_, marque, modèle, couleur, pédale, trappe_gros_producteurs, cliiink, etat_borne, surface___terre__ciment__herbe_, date_de_mise_en_service, appartiennent_à, convention, date_fin_convention, informations, nombre_de_logements_collectifs, nombre_de_logements_individuels, relevé_gps_code_1, lat, lat2, relevé_gps_code_2, lon, lon2, dimensions_des_plaques_de_consi, consignes_de_tri_à_jour, lat3, lon3, created_user, created_date, last_edited_user, last_edited_date]
Index: []

[0 rows x 39 columns]

################################## recherche de clé pour merge ###################
la colonne objectid est une clé

In [19]:
benne_verre = benne_verre.drop(['objectid'
                                ], axis=1)

In [20]:
display(benne_verre[benne_verre.duplicated()])

,X,Y,commune,flux,nom,adresse,aériennes__ba___enterrées__be__,identifiant,volume_borne__m3_,marque,...,lon,lon2,dimensions_des_plaques_de_consi,consignes_de_tri_à_jour,lat3,lon3,created_user,created_date,last_edited_user,last_edited_date
95,2.678842,50.437225,Bouvigny-Boyeffles,Verre,NaN,Intersection rue du Prince et chemin Latéral,BA,NaN,4.0,Sulo,...,"2,678842","2,678842",NaN,Non,50.437225,2.678842,AdminAgso,2022/01/31 08:36:17.351+00,AdminAgso,2022/01/31 08:36:17.351+00
253,2.829325,50.436352,Lens,Verre,Résidence Luminésens 2,Intersection rues de Londres et Angela Davis,BE,NaN,NaN,Tercol,...,"2,829325","2,829325",NaN,Oui (autocollant),50.436352,2.829325,AdminAgso,2022/01/31 08:36:17.351+00,AdminAgso,2022/01/31 08:36:17.351+00
372,2.780912,50.433556,Liévin,Verre,NaN,Intersection rues Louis Montcalm et Jules Guesde,BA,NaN,4.0,UTPM,...,"2,780912","2,780912",NaN,Oui,50.433556,2.780912,AdminAgso,2022/01/31 08:36:17.351+00,AdminAgso,2022/01/31 08:36:17.351+00
398,2.866120,50.445709,Loison-sous-Lens,Verre,NaN,Intersection rue de l'Abbaye et chemin de Lois...,BA,NaN,4.0,UTPM,...,"2,866120","2,866120",NaN,Oui,50.445709,2.866120,AdminAgso,2022/01/31 08:36:17.351+00,AdminAgso,2022/01/31 08:36:17.351+00
434,2.756227,50.468002,Mazingarbe,Verre,NaN,Route Nationale - A côté du numéro 91,BA,NaN,4.0,UTPM,...,"2,756227","2,756227",NaN,Oui,50.468002,2.756227,AdminAgso,2022/01/31 08:36:17.351+00,AdminAgso,2022/01/31 08:36:17.351+00
439,2.868818,50.405617,Méricourt,Verre,NaN,Avenue de Flöha - A côté des services techniques,BA,NaN,4.0,UTPM,...,"2,868818","2,868818",NaN,Non,50.405617,2.868818,AdminAgso,2022/01/31 08:36:17.351+00,AdminAgso,2022/01/31 08:36:17.351+00
493,2.872612,50.496155,Wingles,Verre,Cité de la Verrerie,Intersection rues des Erables et des Charmes,BE,NaN,NaN,Sulo,...,"2,872612","2,872612",NaN,Non,50.496155,2.872612,AdminAgso,2022/01/31 08:36:17.351+00,AdminAgso,2022/01/31 08:36:17.351+00

Il y a réelement des bennes en double sur certain site(il y a 2 bennes) d'oú les doublons.<br>
Je vais supprimer les colonnes inutiles.<br>

In [21]:
benne_verre = benne_verre.drop(['flux','created_user','created_date','last_edited_user','last_edited_date'
                                ,'identifiant','pédale','lon','lon2','lon3','lat','lat2','lat3'
                                ,'dimensions_des_plaques_de_consi','relevé_gps_code_1','relevé_gps_code_2'
                                ,'nombre_de_logements_individuels','nombre_de_logements_collectifs'
                                ,'surface___terre__ciment__herbe_','convention','date_fin_convention'
                                ,'informations','nom','adresse','marque','modèle','couleur','etat_borne'
                                ,'date_de_mise_en_service','appartiennent_à','aériennes__ba___enterrées__be__'
                                ,'X','Y'
                                ], axis=1)

In [22]:
#objectif : une ligne par ville avec : le nombre de benne ,le pourcentage de benne enterré
#,le volume total,le pourcentage de trappe gros producteur, le pourcentage Cliiink
#,pourcentage avec des consigne a jour
benne_verre.replace({'Annay' : 'Annay-sous-Lens'
                   ,'Éleu-dit-Leauwette' : 'Eleu-dit-Leauwette'
                   ,'Estevelles' :'Estévelles'}
                   ,inplace=True)

In [23]:
#transformer les Oui en 1
benne_verre['consignes_de_tri_à_jour'].fillna(0,inplace=True)
benne_verre['trappe_gros_producteurs'] = benne_verre['trappe_gros_producteurs'].apply(lambda x: 1 if x =='Oui' else 0)
benne_verre['cliiink'] = benne_verre['cliiink'].apply(lambda x: 1 if x =='Oui' else 0)
benne_verre['consignes_de_tri_à_jour'] = benne_verre['consignes_de_tri_à_jour'].apply(lambda x: 1 if x =='Oui' else 0)

In [24]:
#faire une colonne nombre de bennes
benne_verre['nb_benne']=1

In [25]:
#regrouper les communes et faire la somme
benne_verre = benne_verre.groupby('commune').sum()
benne_verre.reset_index(inplace=True)

In [26]:
fichier_final_dechet = benne_verre.merge(population,left_on='commune',right_on='Libelle',how='outer')
fichier_final_dechet.drop(['Libelle'],axis=1,inplace=True)

In [27]:
fichier_final_dechet.to_csv('donnee/benne_verre.csv',index=False)

<a id=ecole ></a>

## Fichier établissement scolaire

In [28]:
etb_scolaire = pd.read_csv('CALL-data/Etablissements_Enseignement.csv')

In [29]:
perso_pd.analyseDataFrame(etb_scolaire)

################################# INFO  #################################
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 41 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   X           236 non-null    float64
 1   Y           236 non-null    float64
 2   patronyme_  236 non-null    object
 3   objectid    236 non-null    int64
 4   numero_uai  236 non-null    object
 5   appellatio  236 non-null    object
 6   denominati  236 non-null    object
 7   secteur_pu  236 non-null    object
 8   adresse_ua  236 non-null    object
 9   lieu_dit_u  231 non-null    object
 10  boite_post  231 non-null    object
 11  code_posta  236 non-null    int64
 12  localite_a  236 non-null    object
 13  libelle_co  236 non-null    object
 14  coordonnee  231 non-null    float64
 15  coordonn_1  231 non-null    float64
 16  epsg        231 non-null    object
 17  latitude    231 non-null    float64
 18  longitude   231 non-null    float64
 19  appariemen  231 non-null    object
 20  localisati  236 non-null    object
 21  nature_uai  235 non-null    float64
 22  nature_u_1  235 non-null    object
 23  etat_etabl  236 non-null    int64
 24  etat_eta_1  236 non-null    object
 25  code_depar  236 non-null    int64
 26  code_regio  236 non-null    int64
 27  code_acade  236 non-null    int64
 28  code_commu  236 non-null    int64
 29  libelle_de  236 non-null    object
 30  libelle_re  236 non-null    object
 31  libelle_ac  236 non-null    object
 32  secteur_pr  236 non-null    int64
 33  secteur__1  236 non-null    object
 34  eff_1920    236 non-null    int64
 35  statut      236 non-null    object
 36  dat_ferm    6 non-null      object
 37  euroscol    236 non-null    object
 38  eff_2021    236 non-null    int64
 39  eff_2122    236 non-null    int64
 40  eff_2223    0 non-null      float64
dtypes: float64(8), int64(11), object(22)
memory usage: 75.7+ KB
################################# DESCRIBE  #################################

,X,Y,patronyme_,objectid,numero_uai,appellatio,denominati,secteur_pu,adresse_ua,lieu_dit_u,...,libelle_ac,secteur_pr,secteur__1,eff_1920,statut,dat_ferm,euroscol,eff_2021,eff_2122,eff_2223
count,236.000000,236.000000,236,236.000000,236,236,236,236,236,231,...,236,236.000000,236,236.000000,236,6,236,236.000000,236.000000,0.0
unique,NaN,NaN,165,NaN,236,196,21,2,218,11,...,1,NaN,3,NaN,2,3,2,NaN,NaN,NaN
top,NaN,NaN,JEAN JAURES,NaN,0620108F,Ecole primaire Jean Jaurès,ECOLE PRIMAIRE PUBLIQUE,Public,Rue FRANCOIS DELATTRE,,...,Lille,NaN,SANS OBJET,NaN,Ouvert,2019/08/31 00:00:00+00,NON,NaN,NaN,NaN
freq,NaN,NaN,7,NaN,1,4,89,225,2,221,...,236,NaN,226,NaN,230,3,234,NaN,NaN,NaN
mean,2.811179,50.433146,NaN,118.500000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,95.737288,NaN,209.012712,NaN,NaN,NaN,206.800847,205.097458,NaN
std,0.063584,0.025969,NaN,68.271517,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,15.674578,NaN,207.175277,NaN,NaN,NaN,207.413470,209.845544,NaN
min,2.639194,50.370849,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN
25%,2.765603,50.416034,NaN,59.750000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,99.000000,NaN,96.500000,NaN,NaN,NaN,91.750000,89.750000,NaN
50%,2.817319,50.429847,NaN,118.500000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,99.000000,NaN,148.500000,NaN,NaN,NaN,140.000000,141.000000,NaN
75%,2.862953,50.446271,NaN,177.250000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,99.000000,NaN,235.500000,NaN,NaN,NaN,229.250000,234.000000,NaN
max,2.921097,50.495932,NaN,236.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,99.000000,NaN,1188.000000,NaN,NaN,NaN,1203.000000,1256.000000,NaN

################################# HEAD  #################################

,X,Y,patronyme_,objectid,numero_uai,appellatio,denominati,secteur_pu,adresse_ua,lieu_dit_u,...,libelle_ac,secteur_pr,secteur__1,eff_1920,statut,dat_ferm,euroscol,eff_2021,eff_2122,eff_2223
0,2.838308,50.431341,CONDORCET,1,0620108F,Lycée général et technologique Condorcet,LYCEE GENERAL ET TECHNOLOGIQUE,Public,25 RUE ETIENNE DOLET,,...,Lille,99,SANS OBJET,682,Ouvert,NaN,NON,681,701,NaN
1,2.739299,50.441818,EMILIENNE MOREAU,2,0620276N,Ecole maternelle Emilienne Moreau,ECOLE MATERNELLE PUBLIQUE,Public,Rue de Marengo,,...,Lille,99,SANS OBJET,142,Ouvert,NaN,NON,124,124,NaN
2,2.844518,50.436474,ROLAND,3,0620302S,Ecole maternelle Roland,ECOLE MATERNELLE PUBLIQUE,Public,20 A BOULEVARD DU MARAIS,,...,Lille,99,SANS OBJET,76,Ouvert,NaN,NON,78,80,NaN
3,2.777397,50.426335,LEO LAGRANGE,4,0620309Z,Ecole maternelle Léo Lagrange,ECOLE MATERNELLE PUBLIQUE,Public,Rue Montgolfier,,...,Lille,99,SANS OBJET,97,Ouvert,NaN,NON,89,92,NaN
4,2.845627,50.491154,AURIOL-JOLY,5,0620376X,Ecole maternelle Vincent Auriol,ECOLE MATERNELLE PUBLIQUE,Public,1 BIS RUE DES FRERES BUISINE,,...,Lille,99,SANS OBJET,201,Ouvert,NaN,NON,200,188,NaN

################################# DOUBLONS  #################################

Empty DataFrame
Columns: [X, Y, patronyme_, objectid, numero_uai, appellatio, denominati, secteur_pu, adresse_ua, lieu_dit_u, boite_post, code_posta, localite_a, libelle_co, coordonnee, coordonn_1, epsg, latitude, longitude, appariemen, localisati, nature_uai, nature_u_1, etat_etabl, etat_eta_1, code_depar, code_regio, code_acade, code_commu, libelle_de, libelle_re, libelle_ac, secteur_pr, secteur__1, eff_1920, statut, dat_ferm, euroscol, eff_2021, eff_2122, eff_2223]
Index: []

[0 rows x 41 columns]

################################## recherche de clé pour merge ###################
la colonne objectid est une clé
la colonne numero_uai est une clé

<a id=numerique ></a>

## Fichier établissement numérique

In [30]:
etb_num = pd.read_csv('CALL-data/Lieux_et_acteurs_de_la_médiation_numérique.csv')

In [31]:
perso_pd.analyseDataFrame(etb_num)

################################# INFO  #################################
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 64 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   X                                55 non-null     float64
 1   Y                                55 non-null     float64
 2   objectid                         55 non-null     int64
 3   id                               54 non-null     object
 4   date_maj                         55 non-null     object
 5   nom                              55 non-null     object
 6   statut                           54 non-null     object
 7   epn                              55 non-null     object
 8   nature                           54 non-null     object
 9   horaires_ouverture               54 non-null     object
 10  email_contact                    54 non-null     object
 11  adresse                          54 non-null     object
 12  code_postal                      55 non-null     int64
 13  commune                          55 non-null     object
 14  téléphone                        54 non-null     object
 15  site_internet                    54 non-null     object
 16  accès_équipement                 54 non-null     object
 17  type_équipement                  54 non-null     object
 18  conditions_accès_équipement      54 non-null     object
 19  coût_accès_équipement            54 non-null     object
 20  horaires_équipement              54 non-null     object
 21  médiation_numérique              54 non-null     object
 22  type_médiation_numérique         54 non-null     object
 23  conditions_accès_médiation_numé  54 non-null     object
 24  accompagnement_médiation_numéri  54 non-null     object
 25  coût_accès_médiation_numérique   54 non-null     object
 26  fréquence_médiation_numérique    54 non-null     object
 27  horaires_médnum                  54 non-null     object
 28  démarches                        54 non-null     object
 29  démarches_spécifiques            54 non-null     object
 30  type_démarches                   54 non-null     object
 31  conditions_accès_démarches       54 non-null     object
 32  accompagnement_démarches         54 non-null     object
 33  coût_accès_démarches             54 non-null     object
 34  fréquence_démarches              54 non-null     object
 35  horaires_démarches               54 non-null     object
 36  stockage                         54 non-null     object
 37  coût_stockage                    54 non-null     object
 38  vente_matériel                   54 non-null     object
 39  type_vente_matériel              54 non-null     object
 40  détail_publics                   54 non-null     object
 41  détail_territoire                54 non-null     object
 42  accessibilité_pmr                54 non-null     object
 43  accès_transports_en_commun       54 non-null     object
 44  aptic                            54 non-null     object
 45  latitude                         54 non-null     float64
 46  longitude                        54 non-null     float64
 47  horaires_lundi                   54 non-null     object
 48  horaires_mardi                   54 non-null     object
 49  horaires_mercredi                54 non-null     object
 50  horaires_jeudi                   54 non-null     object
 51  horaires_vendredi                54 non-null     object
 52  horaires_samedi                  54 non-null     object
 53  horaires_dimanche                54 non-null     object
 54  itinérance                       54 non-null     object
 55  france_services                  54 non-null     object
 56  département                      54 non-null     object
 57  arrondissement                   55 non-null     object
 58  epci                             55 non-null     object
 59  created_user                     55 non-null     object
 60  created_date                     55 non-null     object
 61  last_edited_user                 55 non-null     object
 62  last_edited_date                 55 non-null     object
 63  globalid                         55 non-null     object
dtypes: float64(4), int64(2), object(58)
memory usage: 27.6+ KB
################################# DESCRIBE  #################################

,X,Y,objectid,id,date_maj,nom,statut,epn,nature,horaires_ouverture,...,itinérance,france_services,département,arrondissement,epci,created_user,created_date,last_edited_user,last_edited_date,globalid
count,55.000000,55.000000,55.00000,54,55,55,54,55,54,54,...,54,54,54,55,55,55,55,55,55,55
unique,NaN,NaN,NaN,54,19,51,2,2,10,16,...,1,3,1,1,1,1,1,1,1,55
top,NaN,NaN,NaN,1569,2018/11/01 00:00:00+00,Accompagnement numérique - Mairie,Public,Non,Bibliothèque - Médiathèque,-----,...,-----,-----,Pas-de-Calais,Lens,CA de Lens - Liévin,AdminAgso,2022/07/26 09:04:59.639+00,AdminAgso,2022/07/26 09:04:59.639+00,37480280-a29d-49ac-abbe-1790f8ba5955
freq,NaN,NaN,NaN,1,16,5,46,45,14,37,...,54,46,54,55,55,55,55,55,55,1
mean,2.821023,50.433117,28.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.063460,0.022228,16.02082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2.683968,50.395073,1.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2.770453,50.420146,14.50000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2.831664,50.430153,28.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2.872900,50.444285,41.50000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2.917293,50.495318,55.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

################################# HEAD  #################################

,X,Y,objectid,id,date_maj,nom,statut,epn,nature,horaires_ouverture,...,itinérance,france_services,département,arrondissement,epci,created_user,created_date,last_edited_user,last_edited_date,globalid
0,2.759208,50.406966,1,1569,2021/07/20 00:00:00+00,Médiathèque L'Embellie / cyberbase,Public,Non,Bibliothèque - Médiathèque,-----,...,-----,Non,Pas-de-Calais,Lens,CA de Lens - Liévin,AdminAgso,2022/07/26 09:04:59.639+00,AdminAgso,2022/07/26 09:04:59.639+00,37480280-a29d-49ac-abbe-1790f8ba5955
1,2.763153,50.406796,2,2128,2021/03/26 00:00:00+00,Le moulin de tous,Public,Non,"Collectivité territoriale, Ville, CCAS",-----,...,-----,-----,Pas-de-Calais,Lens,CA de Lens - Liévin,AdminAgso,2022/07/26 09:04:59.639+00,AdminAgso,2022/07/26 09:04:59.639+00,0d76c7be-79ce-48c4-b8f5-220f4cf47ae7
2,2.877767,50.463210,3,0667,2018/11/01 00:00:00+00,Bibliotheque Municipale,Public,Non,Bibliothèque - Médiathèque,-----,...,-----,-----,Pas-de-Calais,Lens,CA de Lens - Liévin,AdminAgso,2022/07/26 09:04:59.639+00,AdminAgso,2022/07/26 09:04:59.639+00,ec48508f-b8e8-43bf-8dc7-43477e292b30
3,2.877154,50.462582,4,1804,2020/11/27 00:00:00+00,Accompagnement numérique - Mairie,Public,Non,"Collectivité territoriale, Ville, CCAS",-----,...,-----,-----,Pas-de-Calais,Lens,CA de Lens - Liévin,AdminAgso,2022/07/26 09:04:59.639+00,AdminAgso,2022/07/26 09:04:59.639+00,30f67524-e91a-4ce4-be18-f7f597639990
4,2.834432,50.412593,5,0678,2018/11/01 00:00:00+00,Médiathèque Emile Zola,Public,Non,Bibliothèque - Médiathèque,-----,...,-----,-----,Pas-de-Calais,Lens,CA de Lens - Liévin,AdminAgso,2022/07/26 09:04:59.639+00,AdminAgso,2022/07/26 09:04:59.639+00,70945d72-d321-4a54-92a0-ab146906df05

################################# DOUBLONS  #################################

Empty DataFrame
Columns: [X, Y, objectid, id, date_maj, nom, statut, epn, nature, horaires_ouverture, email_contact, adresse, code_postal, commune, téléphone, site_internet, accès_équipement, type_équipement, conditions_accès_équipement, coût_accès_équipement, horaires_équipement, médiation_numérique, type_médiation_numérique, conditions_accès_médiation_numé, accompagnement_médiation_numéri, coût_accès_médiation_numérique, fréquence_médiation_numérique, horaires_médnum, démarches, démarches_spécifiques, type_démarches, conditions_accès_démarches, accompagnement_démarches, coût_accès_démarches, fréquence_démarches, horaires_démarches, stockage, coût_stockage, vente_matériel, type_vente_matériel, détail_publics, détail_territoire, accessibilité_pmr, accès_transports_en_commun, aptic, latitude, longitude, horaires_lundi, horaires_mardi, horaires_mercredi, horaires_jeudi, horaires_vendredi, horaires_samedi, horaires_dimanche, itinérance, france_services, département, arrondissement, epci, created_user, created_date, last_edited_user, last_edited_date, globalid]
Index: []

[0 rows x 64 columns]

################################## recherche de clé pour merge ###################
la colonne X est une clé
la colonne Y est une clé
la colonne objectid est une clé
la colonne id est une clé
la colonne adresse est une clé
la colonne latitude est une clé
la colonne longitude est une clé
la colonne globalid est une clé